<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Change to the actual app id -->
    <add key="Apollo.AppId" value="IBEProxy"/>
    <add key="Apollo.DataCenter" value="" />
    <add key="Apollo.Cluster" value="" />
    <add key="Apollo.Timeout" value="5000" />
    <add key="Apollo.RefreshInterval" value="300000" />
    <add key="Apollo.LocalCacheDir" value="" />

    <!-- 上面一行和下面2选1 -->
    <add key="Apollo.Env" value="Dev" />
    <add key="Apollo.DEV.Meta" value="http://172.20.70.79:8008"/>
    <add key="Apollo.PRO.Meta" value="http://172.20.93.35:8080"/>
  </appSettings>
</configuration>
